/*ion-input.custom {
    --background: #463b3b;
    --color: #fff;
    --placeholder-color: #ddd;
    
    --placeholder-opacity: 0.2;
  
    
    --padding-bottom: 0px;
    --padding-end: 25px;
    --padding-start: 25px;
    --padding-top: 0px;
    
}
*/

form
{
    text-align: left;
 //   padding-left: 10%;
 //   padding-right: 10%;
}

ion-note {
    color: #c5000f	;
    //margin-left: 5%;
    margin-top: 4px;
}

ion-item {
    --border-color: #000000;
    --border-width: 1px;
    --border-radius: 20px;

}

ion-content {
    --background: #ffffff;
    //--color: #fff;

    
    --padding-end: 5%;
    --padding-start: 5%;
    --padding-top: 20%;

    /*
    --padding-start:10%
    --padding-end:100px
    --padding-bottom: 10%;
    */
    text-align: center;
}

