<app-header [title]="'REGISTER'"></app-header>

<ion-content>

  <ion-icon name="magnet-sharp" style="font-size: 800%; text-align: center;"></ion-icon>
  <H1 style="margin-top: 0px;"><strong>Mag Shops</strong></H1>

    <form [formGroup]="this.form">
      <ion-item lines="none" class="ion-margin-top">
        <ion-icon color="primary" slot="start" name="mail"></ion-icon>
        <ion-input formControlName="email" name="email" clearInput="true" 
        type="email" placeholder="Email"></ion-input>
      </ion-item>

      @if (!this.form.controls['email'].valid && (this.form.controls['email'].touched)) 
      {
        @if (this.form.controls['email'].errors!['required'])
        {
          <ion-note>Este campo no puede estar vacio</ion-note>  
        } 
        @else if (this.form.controls['email'].errors!['email']) 
        {
          <ion-note>El mail ingresado no es valido</ion-note>  
        }
      }

      <ion-item lines="none" class="ion-margin-top">
        <ion-icon color="primary" slot="start" name="lock-closed"></ion-icon>
        <ion-input formControlName="password" name="password" clearInput="true" 
        [type]="this.showPassword ? 'text' : 'password'" placeholder="Password"></ion-input>

        <ion-button (click)="this.showOrHidePassword()" fill="clear" shape="round">
          <ion-icon color="primary" slot="icon-only"
          [name]="this.showPassword ? 'eye-outline' : 'eye-off-outline' "></ion-icon>
        </ion-button>
      </ion-item>

      @if (!this.form.controls['password'].valid && (this.form.controls['password'].touched)) 
      {
        @if (this.form.controls['password'].errors!['required'])
        {
          <ion-note>Este campo no puede estar vacio</ion-note>  
        }
        @else{

          @if (this.form.controls['password'].errors!['minlength']) 
          {
            <ion-note>La clave no puede tener menos de 10 caracteres</ion-note>  
          }

          @if (this.form.controls['password'].errors!['maxlength']) 
          {
            <ion-note>La clave no puede tener más de 30 caracteres</ion-note>  
          }
        } 
      }

      <ion-item lines="none" class="ion-margin-top">
        <ion-icon color="primary" slot="start" name="lock-closed"></ion-icon>
        <ion-input formControlName="rePassword" name="rePassword" clearInput="true" 
        [type]="this.showPassword ? 'text' : 'password'" placeholder="Repeat the password"></ion-input>

        <ion-button (click)="this.showOrHidePassword()" fill="clear" shape="round">
          <ion-icon color="primary" slot="icon-only"
          [name]="this.showPassword ? 'eye-outline' : 'eye-off-outline' "></ion-icon>
        </ion-button>
      </ion-item>

      @if (!this.form.controls['rePassword'].valid && (this.form.controls['rePassword'].touched)) 
      {
        @if (this.form.controls['rePassword'].errors!['required'])
        {
          <ion-note>Este campo no puede estar vacio</ion-note>  
        }
        @else{

          @if (this.form.controls['rePassword'].errors!['minlength']) 
          {
            <ion-note>La clave no puede tener menos de 10 caracteres</ion-note>  
          }

          @if (this.form.controls['rePassword'].errors!['maxlength']) 
          {
            <ion-note>La clave no puede tener más de 30 caracteres</ion-note>  
          }
        } 
      }

      <ion-item lines="none" class="ion-margin-top">
        <ion-input label="Real name" formControlName="realName" name="realName" placeholder="Thiago Lisandro" clearInput="true" type="text">
        </ion-input>
      </ion-item>

      @if (!this.form.controls['realName'].valid && (this.form.controls['realName'].touched)) 
      {
        @if (this.form.controls['realName'].errors!['required'])
        {
          <ion-note>Este campo no puede estar vacio</ion-note>  
        }
        @else{
          
          @if (this.form.controls['realName'].errors!['minlength']) 
          {
            <ion-note>El nombre no puede tener menos de 10 caracteres<br></ion-note>  
          }

          @if (this.form.controls['realName'].errors!['maxlength']) 
          {
            <ion-note>El nombre no puede tener más de 40 caracteres<br></ion-note>  
          }

          @if (this.form.controls['realName'].errors!['pattern']) 
          {
            <ion-note>El nombre solo puede poseer letras y espacios<br></ion-note>  
          }

          @if (this.form.controls['realName'].errors!['hayEspacioInicial']) 
          {
            <ion-note>El primer caracter no puede ser un espacio</ion-note>  
          }
        } 
      }

      <ion-item lines="none" class="ion-margin-top">
        <ion-input label="Surname" formControlName="surname" name="surname" placeholder="Porfirio" clearInput="true" type="text">
        </ion-input>
      </ion-item>

      @if (!this.form.controls['surname'].valid && (this.form.controls['surname'].touched)) 
      {
        @if (this.form.controls['surname'].errors!['required'])
        {
          <ion-note>Este campo no puede estar vacio</ion-note>  
        }
        @else{

          @if (this.form.controls['surname'].errors!['minlength']) 
          {
            <ion-note>El apellido no puede tener menos de 10 caracteres <br></ion-note>  
          }

          @if (this.form.controls['surname'].errors!['maxlength']) 
          {
            <ion-note>El apellido no puede tener más de 40 caracteres <br></ion-note>  
          }

          @if (this.form.controls['surname'].errors!['pattern']) 
          {
            <ion-note>El apellido solo puede poseer letras y espacios <br></ion-note>  
          }

          @if (this.form.controls['surname'].errors!['hayEspacioInicial']) 
          {
            <ion-note>El primer caracter no puede ser un espacio</ion-note>  
          }
        } 
      }

      <ion-item lines="none" class="ion-margin-top">
        <ion-input label="User name" formControlName="userName" name="userName" placeholder="Lisandro_2003" clearInput="true" type="text">
        </ion-input>
      </ion-item>

      @if (!this.form.controls['userName'].valid && (this.form.controls['userName'].touched)) 
      {
        @if (this.form.controls['userName'].errors!['required'])
        {
          <ion-note>Este campo no puede estar vacio</ion-note>  
        }
        @else{

          @if (this.form.controls['userName'].errors!['minlength']) 
          {
            <ion-note>El nombre de usuario no puede tener menos de 10 caracteres <br></ion-note>  
          }

          @if (this.form.controls['userName'].errors!['maxlength']) 
          {
            <ion-note>El nombre de usuario no puede tener más de 30 caracteres <br></ion-note>  
          }

          @if (this.form.controls['userName'].errors!['pattern'])
          {
            <ion-note>El nombre de usuario solo puede tener letras, numeros y _</ion-note>  

          }
        } 
      }

      <ion-button (click)="this.mostrarErrores()" class="ion-margin-top" color="primary" expand="block" fill="solid" shape="round">
        Register
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>

    <ion-button class="ion-margin-top" color="primary" expand="block" fill="outline" shape="round"
    routerLink="">
      Log In <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>
</ion-content> 