ion-note {
    color: #c5000f	;
    //margin-left: 5%;
    margin-top: 4px;
}

ion-item {
    --border-color: #000000;
    --border-width: 1px;
    --border-radius: 20px;
     border-radius: 20px;
}

ion-content {
    --background: #ffffff;
    //--color: #fff;

    
    --padding-end: 5%;
    --padding-start: 5%;

    text-align: center;
    /*
    --padding-start:10%
    --padding-end:100px
    --padding-bottom: 10%;
    */
}

form{
    text-align: left;
}
