ion-content {
    --background: #ffffff;
    //--color: #fff;

    
    --padding-end: 5%;
    --padding-start: 5%;
    --padding-top: 1%;

    /*
    --padding-start:10%
    --padding-end:100px
    --padding-bottom: 10%;
    */
    text-align: center;
}