form
{
    text-align: left;
}

ion-note {
    color: #c5000f;
    margin-top: 4px;
}

ion-item {
    --border-color: #000000;
    --border-width: 1px;
    --border-radius: 20px;
    --background: #ffffff;
}

ion-input{
    --background: #ffffff;
    --color:#000000;
}